
h1 {
 background-color: rgb(47, 48, 58);
 color: white;
}
h2{
    text-align: center;
}
button{
    color: white;
    border-color: rgba(33, 150, 243, 1) ;
    background-color: rgba(33, 150, 243, 1);
}
.yvaga{
    font-size: large;
}
.pynkt{
    font-size: large;
}
.plan{
    font-size: large;
}
.syc-tex{
    font-size: large;
}
